<div class="container-fluid page">
    <div class="d-flex page__box p-4 mt-2">Onboarding Groups and Services</div>
    <div class="page__content shadow p-4 position-relative">
      <div class="page__content-data position-absolute text-center">
        <div class="card-wrapper">
          <div fxLayoutAlign="space-between">
            <mat-card fxLayout fxLayoutGap="50px" style="height:400px">
            <mat-card class="child-1">
              <mat-card-header style="width:250px">
                <mat-card-title>Group Oboarding</mat-card-title>
              </mat-card-header>
              <img mat-card-image src="./assets/logo/group.jpeg" alt="Onboard Groups and Services" style="width:290px; height:200px">
              <mat-card-actions>
                  <a mat-button href="./group-onboarding-form" style="background-color:#1e293b; color:white">NEXT</a>
              </mat-card-actions>
            </mat-card>
  
        <mat-card class="child-2">
          <mat-card-header style="width:250px">
            <mat-card-title>Service Onboarding</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="./assets/logo/service.png" alt="Creation of Roles" style="width:200px; height:200px; margin: 0 auto;">
          <mat-card-actions>
            <a mat-button href="./onboarding-form" style="background-color:#1e293b; color:white">NEXT</a>
          </mat-card-actions>
        </mat-card>

      </mat-card>
        </div>
    </div>
      </div>
    </div>
  </div>
  