<div class="container-fluid page">
    <div class="d-flex page__box p-4 mt-2">Creation of Roles</div>
    <div class="page__content shadow p-4 position-relative">
      <div class="page__content-data position-absolute text-center" style="width:30%">
 
            
        <mat-card>    
            <!-- Title of an Card -->    
            <mat-card-title>    
                Role Creation Form    
            </mat-card-title> <br>   
            
            <mat-card-content>    
                <form>  
                    <table class="demo-full-width" cellspacing="0">    
                        <tr>    
                              <td> 
                                <mat-form-field class="demo-full-width"> 
                                    <mat-label>SERVICE ID</mat-label> 
                                    <input matInput placeholder="Service Definition Id" >    
                                </mat-form-field>    
                            </td>       
                        </tr>   
                        <tr>    
                            <td>    
                                <mat-form-field class="demo-full-width">    
                                    <mat-label>NAME</mat-label>
                                    <input matInput placeholder="Name">    
                                </mat-form-field>    
                            </td>        
                        </tr>
                        <tr>    
                            <td colspan="2">    
                                <mat-form-field class="demo-full-width">    
                                    <mat-label>DISPLAY NAME</mat-label>
                                    <input matInput placeholder="Display Name">    
                                </mat-form-field>    
                            </td>        
                        </tr>  
                        <br>
                        <tr>        
                            <td> 
                                <mat-label style="color:#909090">On Access:</mat-label><br>
                                <mat-radio-group class = "tp-radio-group" layout="row" color="primary"> 
                                    <mat-radio-button class = "tp-radio-button" value = "1">  True
                                    </mat-radio-button>
                                    <mat-radio-button class = "tp-radio-button" value = "2">  False
                                    </mat-radio-button>
                                 </mat-radio-group>  
                            </td>    
                        </tr>
                        <br>
                        <tr>        
                            <td> 
                                <mat-label style="color:#909090">Visible</mat-label><br>
                                <mat-radio-group class = "tp-radio-group" layout="row" color="primary">  
                                    <mat-radio-button class = "tp-radio-button" value = "1">  True
                                    </mat-radio-button>
                                    <mat-radio-button class = "tp-radio-button" value = "2">  False
                                    </mat-radio-button>
                                 </mat-radio-group>  
                            </td>    
                        </tr>
                        <br>
                        <tr>    
                            <td colspan="2">    
                                <mat-form-field class="demo-full-width">    
                                    <mat-label>TYPE</mat-label>
                                    <input matInput placeholder="Type">    
                                </mat-form-field>    
                            </td>        
                        </tr>
                        <br>
                        <tr>        
                            <td>  
                                <mat-label style="color:#909090">Composable</mat-label><br>
                                <mat-radio-group class = "tp-radio-group" layout="row" color="primary">  
                                    <mat-radio-button class = "tp-radio-button" value = "1">  True
                                    </mat-radio-button>
                                    <mat-radio-button class = "tp-radio-button" value = "2">  False
                                    </mat-radio-button>
                                 </mat-radio-group>  
                            </td>    
                        </tr> 
                        <br>
                        <tr>        
                            <td> 
                                <mat-label style="color:#909090">Bundled</mat-label><br>
                                <mat-radio-group class = "tp-radio-group" layout="row" color="primary">  
                                    <mat-radio-button class = "tp-radio-button" value = "1">  True
                                    </mat-radio-button>
                                    <mat-radio-button class = "tp-radio-button" value = "2">  False
                                    </mat-radio-button>
                                 </mat-radio-group>  
                            </td>    
                        </tr>         
                        <tr>    
                            <td colspan="2" class="content-center">    
                                <button mat-raised-button style="background-color:#1e293b; color:white">Submit</button>      
                            </td>    
                        </tr>    
                    </table>  
                </form>    
            </mat-card-content>    
        </mat-card>   

      </div>
    </div>
  </div>