<div class="container-fluid page">
  <div class="d-flex page__box p-4 mt-2">Dashboard</div>
  <div class="page__content shadow p-4 position-relative">
    <div class="page__content-data position-absolute text-center">
      <div class="card-wrapper">
        <div fxLayoutAlign="space-between">
          <mat-card fxLayout fxLayoutGap="50px" style="height:400px" >
          <mat-card class="child-1">
            <mat-card-header style="width:250px">
              <mat-card-title>Onboard Groups and Services</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="./assets/logo/onboarding.jpeg" alt="Onboard Groups and Services" style="width:290px; height:180px">
            <mat-card-actions>
                <a mat-button href="./onboarding" style="background-color:#1e293b; color:white">NEXT</a>
            </mat-card-actions>
          </mat-card>

      <mat-card class="child-2">
        <mat-card-header style="width:250px">
          <mat-card-title>Creation of Roles</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./assets/logo/roles.jpeg" alt="Creation of Roles" style="width:290px; height:200px">
        <mat-card-actions>
          <a mat-button href="./refresh-token-form" style="background-color:#1e293b; color:white">NEXT</a>
        </mat-card-actions>
      </mat-card>

      <mat-card class="child-3">
        <mat-card-header style="width:250px">
          <mat-card-title>Add Dependency</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./assets/logo/dependency.jpeg" alt="Add Dependency" style="width:290px; height:200px">
        <mat-card-actions>
          <a mat-button href="./infra-dependency" style="background-color:#1e293b; color:white">NEXT</a>
        </mat-card-actions>
      </mat-card>

      <mat-card class="child-4">
        <mat-card-header style="width:250px">
          <mat-card-title>Track Status</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./assets/logo/track-status.png" alt="Track Status" style="width:290px; height:200px">
        <mat-card-actions>
          <a mat-button href="./track-status" style="background-color:#1e293b; color:white">NEXT</a>
        </mat-card-actions>
      </mat-card>
    </mat-card>
      </div>
  </div>
    </div>
  </div>
</div>
