<mat-nav-list>
  <div class="logo">
    <img src="./assets/logo/logo.png" width="200px" height="30px" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-3">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> About </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 4 </a>
</mat-nav-list>
